<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="#">Home</a></li>
          <li>All Categories</li>
          <li>{{product.category}}</li>
          <li class="active">{{product.name}}</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">

          <ng-template [ngIf]="thumbimages.length === 0">
            <div class="product-preview">
              <img [src]="product.image" alt="">
            </div>
          </ng-template>
          <ng-template [ngIf]="thumbimages.length > 0">
            <div class="product-preview" *ngFor="let t of thumbimages">
              <img [src]="t" alt="">
            </div>
          </ng-template>


        </div>
      </div>
      <!-- /Product main img -->

      <!-- Product thumb imgs -->
      <div class="col-md-2  col-md-pull-5">

        <ng-template [ngIf]="thumbimages.length > 0">
          <div id="product-imgs">
            <div *ngFor="let t of thumbimages" class="product-preview">
              <img [src]="t" alt="">
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="thumbimages.length === 0">
          <div id="product-imgs">
            <div class="product-preview">
              <img [src]="product.image" alt="">
            </div>
          </div>
        </ng-template>

      </div>
      <!-- /Product thumb imgs -->

      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{product?.name}}</h2>
          <div>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <a class="review-link" href="#">10 Review(s) | Add your review</a>
          </div>
          <div>
            <h3 class="product-price">{{product?.price | currency:'EUR'}}</h3>
            <ng-template [ngIf]="product.quantity > 0">
              <span class="product-available">In Stock</span>
            </ng-template>
            <ng-template [ngIf]="product.quantity === 0">
              <span class="product-available">No Longer in Stock</span>
            </ng-template>
          </div>
          <p>{{product?.description}}</p>


          <ng-template [ngIf]="product.quantity > 0">
          <div class="add-to-cart">
            <div class="qty-label">
              Quantity
              <div class="input-number">
                <input #quantity [max]="product?.quantity" [min]="product?.quantity >= 1 ? product?.quantity : 1"
                       readonly type="number" value="{{product?.quantity >= 1 ? 1 : 0}}">
                <span (click)="Increase()" class="qty-up">+</span>
                <span (click)="Decrease()" class="qty-down">-</span>
              </div>
            </div>
            <button (click)="addToCart(product?.id)" *ngIf="product?.quantity >= 1" class="add-to-cart-btn"><i
              class="fa fa-shopping-cart"></i>Add To Cart
            </button>
          </div>
          </ng-template>



          <ul class="product-links">
            <li>Category:</li>
            <li>{{product.category}}</li>
          </ul>

          <ul class="product-links">
            <li>Share:</li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>

        </div>
      </div>
      <!-- /Product details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
